{% extends "base.html" %}
{% load static %}
    {% block title %}
        Desassociar manualmente viatura ao lugar
    {% endblock %}
    {% block main %}

    <div class="container my-4">
        <div class="row rounded bg-light pt-3">
            <div class="col">
                <div class="jumbotron border p-3 mb-3">
                    <h1 class="text-center">Desassociar manualmente viatura ao lugar  <b>{{ lugar.nome }}</h1>
                    <hr>


        <form action="{% url 'desassociarLugar' lugar.id %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                <!-- Data e hora Input -->
                <div class="form-group col">
                    <label for="dia">Data e hora</label>
                    <input type="datetime-local" min="2022-01-01" class="form-control"
                        id="saida" name="saida" placeholder="Inserir data e hora" >
                </div>
            </div>
            <br>
            <!-- Botão Submit -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Desassociar</button>
            </div>
        </form>
        <br>
    {% endblock %}