{% extends 'base.html' %}

{% block title %}
    Update Contract Type
{% endblock %}

{% block main %}

    <div class="container">
        <h1 class="mt-5">Update Contract Type</h1>
        <form method="post">
            {% csrf_token %}
            {% include 'parks/contract_type_form.html' %}
            <a type="button" href="{% url 'list_parks' %}" class="btn btn-success mt-2">Back</a>
            <button type="submit" class="btn btn-success mt-2">Update Contract</button>
        </form>
    </div>

{% endblock main %}