{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Archive Park
{% endblock %}

{% block main %}

    <div class="container">
        <h1 class="mt-5">Archive Park</h1>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to <b>archive park "{{ object.name }}"</b> and all its <b>zones</b> and <b>parking spots</b>?</p>
            <p><b>This action cannot be undone!</b></p>
            <a type="button" href="{% url 'park_detail' object.id %}" class="btn btn-outline-dark mt-2">Back</a>
            <button type="submit" class="btn btn-danger mt-2">Archive Park</button>
        </form>
    </div>

{% endblock main %}