{% extends 'base.html' %}
{% load group_tags %}
{% load crispy_forms_filters %}

{% block title %}
    Park {{ object.name }}
{% endblock %}

{% block main %}

    <div class="container">
        <h1 class="mt-5">Park {{ object.name }}</h1>
        <div class="row mb-4">
            <div class="col-4">
                <p>Address: {{ object.address }}</p>
                <p>Postal Code: {{ object.posta_city }}</p>
                <p>Typology: {{ object.get_typology_display }}</p>
                <p>Zones: {{ object.zones.count }}</p>
                <p>Admin: {{ object.admin.user.first_name }} {{ object.admin.user.last_name }}</p>
                <p>Created: {{ object.created }}</p>
                <p>Updated: {{ object.updated }}</p>

                {% if object.current_weekly_schedule %}
                    <h4>Schedule</h4>
                    <table class="table">
                        <tbody>
                        {% if object.current_weekly_schedule.equal_allweek %}
                            <tr>
                                <th scope="row">Every Day</th>
                                {% if object.current_weekly_schedule.monday.start %}
                                    {% if object.current_weekly_schedule.monday.start == object.current_weekly_schedule.monday.end %}
                                        <td colspan="3">All Day</td>
                                    {% else %}
                                        <td>{{ object.current_weekly_schedule.monday.start }}</td>
                                        <td>to</td>
                                        <td>{{ object.current_weekly_schedule.monday.end }}</td>
                                    {% endif %}
                                {% else %}
                                    <td colspan="3">Closed</td>
                                {% endif %}
                            </tr>
                        {% else %}
                            {% if object.current_weekly_schedule.equal_weekdays %}
                                <tr>
                                    <th scope="row">Week Days</th>
                                    {% if object.current_weekly_schedule.monday.start %}
                                        {% if object.current_weekly_schedule.monday.start == object.current_weekly_schedule.monday.end %}
                                            <td colspan="3">All Day</td>
                                        {% else %}
                                            <td>{{ object.current_weekly_schedule.monday.start }}</td>
                                            <td>to</td>
                                            <td>{{ object.current_weekly_schedule.monday.end }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td colspan="3">Closed</td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                {% if object.current_weekly_schedule.monday.start %}
                                    <tr>
                                        <th scope="row">Monday</th>
                                        {% if object.current_weekly_schedule.monday.start %}
                                            {% if object.current_weekly_schedule.monday.start == object.current_weekly_schedule.monday.end %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.monday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.monday.end }}</td>
                                            {% endif %}
                                        {% else %}
                                            <td colspan="3">Closed</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if object.current_weekly_schedule.tuesday.start %}
                                    <tr>
                                        <th scope="row">Tuesday</th>
                                        {% if object.current_weekly_schedule.tuesday.start %}
                                            {% if object.current_weekly_schedule.tuesday.start == object.current_weekly_schedule.tuesday.end %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.tuesday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.tuesday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if object.current_weekly_schedule.wednesday.start %}
                                    <tr>
                                        <th scope="row">Wednesday</th>
                                        {% if object.current_weekly_schedule.wednesday.start %}
                                            {% if object.current_weekly_schedule.wednesday.start == object.current_weekly_schedule.wednesday.end %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.wednesday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.wednesday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if object.current_weekly_schedule.thursday.start %}
                                    <tr>
                                        <th scope="row">Thursday</th>
                                        {% if object.current_weekly_schedule.thursday.start %}
                                            {% if object.current_weekly_schedule.thursday.start == object.current_weekly_schedule.thursday.end %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.thursday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.thursday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if object.current_weekly_schedule.friday.start %}
                                    <tr>
                                        <th scope="row">Friday</th>
                                        {% if object.current_weekly_schedule.friday.start %}
                                            {% if object.current_weekly_schedule.friday.start == object.current_weekly_schedule.friday.end %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.friday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.friday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}


                            {% if object.current_weekly_schedule.equal_weekend %}
                                <tr>
                                    <th scope="row">Weekend</th>
                                    {% if object.current_weekly_schedule.sunday.start %}
                                        {% if object.current_weekly_schedule.sunday.start == object.current_weekly_schedule.sunday.end %}
                                            <td colspan="3">All Day</td>
                                        {% else %}
                                            <td>{{ object.current_weekly_schedule.sunday.start }}</td>
                                            <td>to</td>
                                            <td>{{ object.current_weekly_schedule.sunday.end }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td colspan="3">Closed</td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                {% if object.current_weekly_schedule.saturday.start %}
                                    <tr>
                                        <th scope="row">Saturday</th>
                                        {% if object.current_weekly_schedule.saturday.start %}
                                            {% if object.current_weekly_schedule.saturday.start == object.current_weekly_schedule.saturday.end %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.saturday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.saturday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if object.current_weekly_schedule.sunday.start %}
                                    <tr>
                                        <th scope="row">Sunday</th>
                                        {% if object.current_weekly_schedule.sunday.start %}
                                            {% if object.current_weekly_schedule.sunday.start == object.current_weekly_schedule.sunday.end %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.sunday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.sunday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        </tbody>
                    </table>
                {% endif %}


                {% if object.price_types %}
                    <h4>Price Table</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in object.price_types %}
                            <tr>
                                <th scope="row">{{ row.total_time }}</th>
                                {% if row.total == 0 %}
                                    <td>Free</td>
                                {% else %}
                                    <td>{{ row.total }} €</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if object.contract_types %}
                    <h4>Contract Types</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Type</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in object.contract_types %}
                            <tr>
                                <th scope="row">{{ row.name }}</th>
                                {% if row.total == 0 %}
                                    <td>Free</td>
                                {% else %}
                                    <td>{{ row.total }} €</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                <a type="button" class="btn btn-success mt-2" href="{% url 'list_parks' %}">Back</a>
                {% if object.zones %}
                    <a type="button" class="btn btn-success mt-2" href="{% url 'list_zones' object.id %}">View Zones</a>
                {% endif %}
                {% if request.user|is_admin %}
                    {% if object.weekly_schedules %}
                        <a type="button" class="btn btn-success mt-2" href="{% url 'list_schedules' object.id %}">View
                            Schedules</a>
                    {% else %}
                        <a type="button" class="btn btn-success mt-2" href="{% url 'add_schedule' object.id %}">Add
                            Schedule</a>
                    {% endif %}
                    {% if object.price_types %}
                        <a type="button" class="btn btn-success mt-2" href="{% url 'update_price' object.id %}">Update
                            Prices</a>
                    {% else %}
                        <a type="button" class="btn btn-success mt-2" href="{% url 'add_price' object.id %}">Add
                            Prices</a>
                    {% endif %}
                    {% if object.contract_types %}
                        <a type="button" class="btn btn-success mt-2" href="{% url 'update_contract' object.id %}">Update
                            Contracts</a>
                    {% else %}
                        <a type="button" class="btn btn-success mt-2" href="{% url 'add_contract' object.id %}">Add
                            Contracts</a>
                    {% endif %}
                    {% if not object.zones %}
                        <a class="btn btn-success mt-2" href="{% url 'add_zone' object.id %}">Add Zone</a>
                    {% endif %}
                    <a type="button" href="{% url 'update_park' object.id %}" class="btn btn-success mt-2">Update
                        Park</a>

                    {% if not object|get_park_all_not_free %}
                        <a type="button" href="{% url 'delete_park' object.id %}" class="btn btn-success mt-2">Delete
                            Park</a>
                    {% endif %}

                {% endif %}
            </div>
            <div class="col-8">
                <div class="position-sticky" style="top: 2rem; height: 60vh">
                    <iframe src="{{ park.map_src }}" width="100%" style="border:0;" allowfullscreen=""
                            class="border rounded-3 border border-dark shadow h-100"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}