{% load crispy_forms_filters %}

<div class="row">
    <div class="col-6">
        {{ form.name |as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.address |as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.postal_code |as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.typology |as_crispy_field }}
    </div>
    <div class="col-12">
        {{ form.map_html |as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.monday_start |as_crispy_field }}
        {{ form.monday_end |as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.tuesday_start |as_crispy_field }}
        {{ form.tuesday_end |as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.wednesday_start |as_crispy_field }}
        {{ form.wednesday_end |as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.thursday_start |as_crispy_field }}
        {{ form.thursday_end |as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.friday_start |as_crispy_field }}
        {{ form.friday_end |as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.saturday_start |as_crispy_field }}
        {{ form.saturday_end |as_crispy_field }}
    </div>
    <div class="col-3">
        {{ form.sunday_start |as_crispy_field }}
        {{ form.sunday_end |as_crispy_field }}
    </div>
</div>