{% extends 'base.html' %}
{% load group_tags %}
{% load crispy_forms_filters %}

{% block title %}
    Park {{ object.name }}
{% endblock %}

{% block main %}

    <div class="container">
        <div class="row justify-content-between mt-5">
            <h1 class="col">Park {{ object.name }}</h1>
            {% if object.is_archived %}
                <h2 class="col text-end"><span class="badge bg-warning">Archived</span></h2>
            {% elif not object.is_open %}
                <h2 class="col text-end"><span class="badge bg-dark">Closed</span></h2>
            {% endif %}
        </div>
        <div class="row mb-4">
            <div class="col-4">
                <p>Address: {{ object.address }}</p>
                <p>Postal Code: {{ object.posta_city }}</p>
                <p>Typology: {{ object.get_typology_display }}</p>
                <p>Zones: {{ object.zones.count }}</p>
                {% if request.user|is_admin %}
                    <p>Admin: {{ object.admin.user.first_name }} {{ object.admin.user.last_name }}</p>
                    <p>Created: {{ object.created }}</p>
                    <p>Updated: {{ object.updated }}</p>
                {% endif %}


                <div class="d-flex justify-content-between">
                    <div>
                        <h4>Schedule</h4>
                    </div>
                    <div>
                        {% if request.user|is_admin %}
                            {% if object.weekly_schedules %}
                                <a type="button" class="btn btn-sm btn-info"
                                   href="{% url 'list_schedules' object.id %}">View Schedules</a>
                            {% elif not object.is_archived %}
                                <a type="button" class="btn btn-sm btn-success"
                                   href="{% url 'add_schedule' object.id %}">Add Schedule</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <table class="table">
                    <tbody>
                    {% if object.current_weekly_schedule %}
                        {% if object.current_weekly_schedule.equal_allweek %}
                            <tr>
                                <th scope="row">Every Day</th>
                                {% if object.current_weekly_schedule.monday.start %}
                                    {% if object.current_weekly_schedule.monday.all_day %}
                                        <td colspan="3">All Day</td>
                                    {% else %}
                                        <td>{{ object.current_weekly_schedule.monday.start }}</td>
                                        <td>to</td>
                                        <td>{{ object.current_weekly_schedule.monday.end }}</td>
                                    {% endif %}
                                {% else %}
                                    <td colspan="3">Closed</td>
                                {% endif %}
                            </tr>
                        {% else %}
                            {% if object.current_weekly_schedule.equal_weekdays %}
                                <tr>
                                    <th scope="row">Week Days</th>
                                    {% if object.current_weekly_schedule.monday.start %}
                                        {% if object.current_weekly_schedule.monday.all_day %}
                                            <td colspan="3">All Day</td>
                                        {% else %}
                                            <td>{{ object.current_weekly_schedule.monday.start }}</td>
                                            <td>to</td>
                                            <td>{{ object.current_weekly_schedule.monday.end }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td colspan="3">Closed</td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                {% if object.current_weekly_schedule.monday.start %}
                                    <tr>
                                        <th scope="row">Monday</th>
                                        {% if object.current_weekly_schedule.monday.start %}
                                            {% if object.current_weekly_schedule.monday.all_day %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.monday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.monday.end }}</td>
                                            {% endif %}
                                        {% else %}
                                            <td colspan="3">Closed</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if object.current_weekly_schedule.tuesday.start %}
                                    <tr>
                                        <th scope="row">Tuesday</th>
                                        {% if object.current_weekly_schedule.tuesday.start %}
                                            {% if object.current_weekly_schedule.tuesday.all_day %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.tuesday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.tuesday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if object.current_weekly_schedule.wednesday.start %}
                                    <tr>
                                        <th scope="row">Wednesday</th>
                                        {% if object.current_weekly_schedule.wednesday.start %}
                                            {% if object.current_weekly_schedule.wednesday.all_day %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.wednesday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.wednesday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if object.current_weekly_schedule.thursday.start %}
                                    <tr>
                                        <th scope="row">Thursday</th>
                                        {% if object.current_weekly_schedule.thursday.start %}
                                            {% if object.current_weekly_schedule.thursday.all_day %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.thursday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.thursday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if object.current_weekly_schedule.friday.start %}
                                    <tr>
                                        <th scope="row">Friday</th>
                                        {% if object.current_weekly_schedule.friday.start %}
                                            {% if object.current_weekly_schedule.friday.all_day %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.friday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.friday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}


                            {% if object.current_weekly_schedule.equal_weekend %}
                                <tr>
                                    <th scope="row">Weekend</th>
                                    {% if object.current_weekly_schedule.sunday.start %}
                                        {% if object.current_weekly_schedule.sunday.all_day %}
                                            <td colspan="3">All Day</td>
                                        {% else %}
                                            <td>{{ object.current_weekly_schedule.sunday.start }}</td>
                                            <td>to</td>
                                            <td>{{ object.current_weekly_schedule.sunday.end }}</td>
                                        {% endif %}
                                    {% else %}
                                        <td colspan="3">Closed</td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                {% if object.current_weekly_schedule.saturday.start %}
                                    <tr>
                                        <th scope="row">Saturday</th>
                                        {% if object.current_weekly_schedule.saturday.start %}
                                            {% if object.current_weekly_schedule.saturday.all_day %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.saturday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.saturday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% if object.current_weekly_schedule.sunday.start %}
                                    <tr>
                                        <th scope="row">Sunday</th>
                                        {% if object.current_weekly_schedule.sunday.start %}
                                            {% if object.current_weekly_schedule.sunday.all_day %}
                                                <td colspan="3">All Day</td>
                                            {% else %}
                                                <td>{{ object.current_weekly_schedule.sunday.start }}</td>
                                                <td>to</td>
                                                <td>{{ object.current_weekly_schedule.sunday.end }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <tr>
                            <th scope="row">Not Available</th>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>


                <div class="d-flex justify-content-between">
                    <div>
                        <h4>Price Table</h4>
                    </div>
                    <div>
                        {% if request.user|is_admin and not object.is_archived %}
                            {% if object.price_tables %}
                                <a type="button" class="btn btn-sm btn-info mt-2"
                                   href="{% url 'list_prices' object.id %}"> View Prices</a>
                            {% elif not object.is_archived %}
                                <a type="button" class="btn btn-sm btn-success mt-2"
                                   href="{% url 'add_price' object.id %}">Add Prices</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <table class="table">
                    {% if object.current_price_table %}
                        <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in object.current_price_table.get_prices %}
                            {% if row.type == row.NORMAL %}
                                <tr>
                                    <th scope="row">{{ row.total_time }}</th>
                                    {% if row.total == 0 %}
                                        <td>Free</td>
                                    {% else %}
                                        <td>{{ row.total }} €</td>
                                    {% endif %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    {% else %}
                        <tr>
                            <th scope="row">Not Available</th>
                        </tr>
                    {% endif %}
                </table>


                <form method="post">
                    {% csrf_token %}
                    <a type="button" class="btn btn-outline-dark mt-2" href="{% url 'list_parks' %}">Back</a>
                    {% if object.zones %}
                        <a type="button" class="btn btn-secondary mt-2"
                           href="{% url 'list_zones' object.id %}">Zones</a>
                    {% endif %}
                    {% if request.user|is_admin and not object.is_archived %}
                        {% if not object.zones %}
                            <a class="btn btn-secondary mt-2" href="{% url 'add_zone' object.id %}">Zones</a>
                        {% endif %}
                        <a type="button" href="{% url 'update_park' object.id %}" class="btn btn-warning mt-2">Edit</a>

                        {% if not object|get_park_all_not_free and not object|get_non_achived_resources %}
                            <a type="button" href="{% url 'archive_park' object.id %}"
                               class="btn btn-danger mt-2">Archive</a>
                        {% endif %}

                        {% if object.is_open %}
                            <button type="submit" name="close" value="{{ object.id }}" class="btn btn-dark mt-2">
                                Close
                            </button>
                        {% else %}
                            <button type="submit" name="open" value="{{ object.id }}" class="btn btn-success mt-2">
                                Open
                            </button>
                        {% endif %}

                    {% endif %}
                </form>

            </div>
            <div class="col-8">
                <div class="position-sticky mb-4" style="top: 2rem; height: 60vh">
                    <iframe src="{{ park.map_src }}" width="100%" style="border:0;" allowfullscreen=""
                            class="border rounded-3 border border-dark shadow h-100"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}