{% extends 'base.html' %}
{% load group_tags %}
{% load crispy_forms_filters %}s

{% block main %}

    <div class="container-fluid">
            <div class="row rounded bg-light pt-3">
                <div class="col">
                    <div class="jumbotron border p-3 mb-3">
                        <br>
                            <h1 class="text-center">Estatística</h1>
                            <br>
                            <h5 class="text-center">Selecione a estatística que pretende vizualizar</h5>
                            <br>
                            <hr>

                            <div class="container-fluid">
                                <div class="row rounded bg-light pt-3">
                                    <div class="col">
                                        <div class="jumbotron border p-3 mb-3">
                                            <h2 class="text-center">Estatística do Parque</h2>
                                            <br>
                                            <h5 class="text-center">
                                            <a href="Grafico1">
                                            Horários de Ponta</a>
                                            </h5>
                                            <br>
                                            <h5 class="text-center">
                                            <a href="Grafico2">
                                            Faturação por período</a>
                                            </h5>
                                            <br>
                                            <h5 class="text-center">
                                            <a href="Grafico3">
                                            Clientes Visitantes com reserva ou com contrato por período</a>
                                            </h5>
                                            <br>
                                            <h5 class="text-center">
                                            <a href="Grafico4">
                                            Assiduidade e Pontualidade por período</a>
                                            </h5>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="jumbotron border p-3 mb-3">
                                            <h2 class="text-center">Estatísticas individuais</h2>
                                            <br>
                                            <h5 class="text-center">
                                            <a href="Grafico5">
                                            Faturação individual por período</a>
                                            </h5>
                                            <br>
                                            <h5 class="text-center">
                                            <a href="Grafico6">
                                            Número de reservas e contratos individuais por período</a>
                                            </h5>
                                            <br>
                                            <h5 class="text-center">
                                            <a href="Grafico7">
                                            Assiduidade e Pontualidade individual por período</a>
                                            </h5>
                                            <h5>&nbsp;</h5>
                                        <br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

{% endblock main %}