{% extends 'base.html' %}
{% load group_tags %}
{% load crispy_forms_filters %}

{% block title %}
    Zone {{ object.name }}
{% endblock %}

{% block main %}

    <div class="container">

        <div class="row justify-content-between mt-5">
            <h1 class="col">Zone {{ object.name }}</h1>
            {% if object.is_archived %}
                <h2 class="col text-end"><span class="badge bg-warning">Archived</span></h2>
            {% elif not object.is_open %}
                <h2 class="col text-end"><span class="badge bg-dark">Closed</span></h2>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-4">
                <p>Park: {{ object.park }}</p>
                <p>Total Spots: {{ object.n_spots }}</p>
                <p>Available Spots: {{ object.free_spots_now }}</p>
                <div class="d-flex justify-content-between">
                    <div>
                        <h4>Parking Spots</h4>
                    </div>
                </div>
                <div class="mb-3" style="overflow: scroll; max-height: 50vh">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Number</th>
                            <th scope="col">State</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for row in object.spots %}
                            {% if request.user|is_admin or not row.is_archived %}
                                <tr>
                                    <th scope="row" class="align-middle">{{ row.number }}</th>
                                    {% if not row.is_archived %}
                                        <td class="align-middle">{{ row.get_state_now }}</td>
                                    {% else %}
                                        <td class="align-middle">Archived</td>
                                    {% endif %}
                                    <td>
                                        {% if row.get_state_now != "Reserved" and row.get_state_now != "Occupied" %}
                                            {% if request.user|is_admin %}
                                                {% if not row.is_archived %}
                                                    <a class="btn btn-danger btn-sm mt-1" href="{% url 'archive_spot' object.park.id object.id row.id %}">Archive</a>
                                                {% endif %}
                                            {% elif row.zone.is_open and request.user|is_client %}
                                                <a class="btn btn-secondary btn-sm mt-1"
                                                   href="">Reserve</a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <a type="button" href="{% url 'list_zones' object.park.id %}"
                       class="btn btn-outline-dark mt-2">Back</a>
                    {% if request.user|is_admin and not object.is_archived %}
                        <a type="button" href="{% url 'update_zone' object.park.id object.id %}"
                           class="btn btn-warning mt-2">Edit</a>
                        {% if not object|get_zone_all_not_free %}
                            <a type="button" href="{% url 'archive_zone' object.park.id object.id %}"
                               class="btn btn-danger mt-2">Archive</a>
                        {% endif %}

                        {% if object.is_open %}
                            <button type="submit" name="close" value="{{ object.id }}" class="btn btn-dark mt-2">
                                Close
                            </button>
                        {% else %}
                            <button type="submit" name="open" value="{{ object.id }}" class="btn btn-success mt-2">
                                Open
                            </button>
                        {% endif %}
                    {% endif %}
                </form>
            </div>
            <div class="col-8">
                <div class="position-sticky" style="top: 2rem;">
                    <div id="canvas_container" class="border border-2" style="overflow: scroll; height: 60vh">
                        <canvas id="canvas"></canvas>
                    </div>
                    <div class="row">
                        <label for="rangeInput" class="col-1 form-label">Zoom</label>
                        <input type="range" class="col form-range" min="1" max="3" step="0.25" value="1"
                               id="rangeInput">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>

        window.addEventListener('load', () => {
            const canvas = document.querySelector("#canvas");
            const zoomButton = document.getElementById('rangeInput');
            const height = document.getElementById('canvas_container').clientHeight;
            const width = document.getElementById('canvas_container').clientWidth;
            canvas.height = height;
            canvas.width = width;
            let ctx = canvas.getContext('2d');
            const size = 10;
            let zoom = 1, spots = [];

            let color;
            {% for spot in object.spots %}
                color = "#35C942FF";
                if ('{{ spot.get_state_now }}' === 'Reserved')
                    color = "#6c757d";
                else if ('{{spot.get_state_now}}' === "Occupied")
                    color = "#db3545"
                if ('{{ spot.direction }}' === 'HO')
                    spots.push([Number({{ spot.x }}), Number({{ spot.y }}), 2, 1, Number({{ spot.number }}), color]);
                else spots.push([Number({{ spot.x }}), Number({{ spot.y }}), 1, 2, Number({{ spot.number }}), color]);
            {% endfor %}

            let xAcert = get_lowest_x();
            let yAcert = get_lowest_y();
            let h = get_max_y() - yAcert;
            let w = get_max_x() - xAcert;
            let hAcert = height / h;

            drawCanvas(size);

            function drawCanvas() {
                let realSize;
                if (w * hAcert > width) realSize = width * zoom / w;
                else realSize = hAcert * zoom;
                let realXAcert = ((width / 2) - ((w * realSize) / 2))
                let realYAcert = ((height / 2) - ((h * realSize) / 2))
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.strokeStyle = "#eeeeee";
                for (let i = 0; i < spots.length; i++) {
                    roundRect(((spots[i][0] - xAcert) * realSize) + realXAcert, ((spots[i][1] - yAcert) * realSize) + realYAcert, realSize * spots[i][2], realSize * spots[i][3], 50, "#000000");
                    roundRect(((spots[i][0] - xAcert) * realSize) + realXAcert + (realSize / 6), ((spots[i][1] - yAcert) * realSize) + (realSize / 6) + realYAcert, (realSize * spots[i][2]) - (realSize * 2 / 6), (realSize * spots[i][3]) - (realSize * 2 / 6), 50, spots[i][5]);

                    ctx.font = "bold " + (realSize * 2 / 3) + "px Arial";
                    ctx.fillStyle = "#000000";
                    ctx.textAlign = "center";
                    if (spots[i][2] > spots[i][3])
                        ctx.fillText(String(spots[i][4]), ((spots[i][0] - xAcert) * realSize) + realXAcert + (spots[i][2] * realSize * 2 / 4), ((spots[i][1] - yAcert) * realSize) + realYAcert + (spots[i][3] * realSize * 3 / 4));
                    else {
                        ctx.save();
                        ctx.translate(((spots[i][0] - xAcert) * realSize) + realXAcert + (spots[i][2] * realSize * 3 / 4), ((spots[i][1] - yAcert) * realSize) + realYAcert + (spots[i][3] * realSize * 2 / 4));
                        ctx.rotate(-0.5 * Math.PI);
                        ctx.fillText(String(spots[i][4]), 0, 0);
                        ctx.restore();
                    }
                }
            }

            function roundRect(x, y, width, height, radius, color) {
                if (width < 2 * radius) radius = width / 2;
                if (height < 2 * radius) radius = height / 2;
                ctx.beginPath();
                ctx.moveTo(x + radius, y);
                ctx.arcTo(x + width, y, x + width, y + height, radius);
                ctx.arcTo(x + width, y + height, x, y + height, radius);
                ctx.arcTo(x, y + height, x, y, radius);
                ctx.arcTo(x, y, x + width, y, radius);
                ctx.closePath();
                ctx.fillStyle = color;
                ctx.fill();
            }

            function resize() {
                zoom = zoomButton.value;
                canvas.height = height * zoom;
                canvas.width = width * zoom;
                drawCanvas();
            }

            function get_lowest_x() {
                let x = 9999;
                for (const spot in spots)
                    if (parseInt(spots[spot][0]) < x) x = parseInt(spots[spot][0])
                return x - 1;
            }

            function get_lowest_y() {
                let y = 9999;
                for (const spot in spots)
                    if (parseInt(spots[spot][1]) < y) y = parseInt(spots[spot][1])
                return y - 1;
            }

            function get_max_x() {
                let x = 0, w = 0;
                for (const spot in spots)
                    if (parseInt(spots[spot][0]) > x) {
                        w = parseInt(spots[spot][2]);
                        x = parseInt((spots[spot][0]) + w);
                    }
                return x + w + 1;
            }

            function get_max_y() {
                let y = 0, h = 0;
                for (const spot in spots)
                    if (parseInt(spots[spot][1]) > y) {
                        h = parseInt(spots[spot][3]);
                        y = parseInt((spots[spot][1]) + h)
                    }
                return y + h;
            }

            zoomButton.addEventListener("click", resize)

        })

    </script>

{% endblock main %}