{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Add Park Schedule
{% endblock %}

{% block main %}

    <div class="container">
        <h1 class="mt-5">Add Park Weekly Schedule</h1>
        <form method="post">
            {% csrf_token %}
            {% include 'schedule/weekschedule_form.html' %}
        </form>
        <a type="button" href="{% url 'list_schedules' park_id %}" class="btn btn-success mt-2">Back</a>
        <a onclick="enableTimes()" class="btn btn-success mt-2">Submit Schedule</a>
        <button type="submit" id="sub" class="btn btn-success mt-2" hidden>Submit Schedule</button>
    </div>

{% endblock main %}