{% extends "base.html" %}

{% load static %}

{% block title %}
    Fatura específica
{% endblock %}

{% block main %}
    <div class="container my-4">
        <div class="row rounded bg-light pt-3">
            <div class="col">
                <div class="jumbotron border p-3 mb-3">
                    <h1 class="text-center">Consultar fatura</h1>
                    <hr>
                    {% if not faturas %}
                        <h4 class="text-center">Nenhuma fatura criada</h4>
                    {% else %}

                        <!-- Tabela de Parques -->
                        <table class="table table-light table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Início do Contrato</th>
                                <th scope="col">Fim do Contrato</th>
                                <th scope="col">Emissão</th>
                                <th scope="col">Método de pagamento</th>
                                <th scope="col">Total</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Anexos</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ faturas.periocidadeid.start }}</td>
                                <td>{{ faturas.periocidadeid.end }}</td>
                                <td>{{ faturas.emitidaem }}</td>
                                <td>{{ faturas.contratoid.modalidadepagamentoid.nome }}</td>
                                <td>{{ faturas.precores }} €</td>
                                <td>{{ faturas.estadofaturaid.nome }}</td>
                                <td>{{ faturas.comprovativopagamento }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endif %}

                    <hr>
                    <div class="row justify-content-center text-center">
                        <!-- Botão de Criar -->
                        <div class="col ">
                            <a class="btn btn-secondary" href="{% url 'fazer_reclamacao_especifica' reclamacao.id %}">Reclamar
                                Fatura </a>
                        </div>
                        <div class="col ">
                            <a class="btn btn-secondary" href="{% url 'detalhes_fatura' faturas.id %}">Detalhes da
                                Fatura </a>
                        </div>
                        {% if estado %}
                            <div class="col ">
                                <a class="btn btn-secondary" href="{% url 'comprovativo_pagamento' faturas.id %}">Anexar
                                    Comprovativo</a>
                            </div>
                        {% endif %}
                        {% if estadofaturaid != 4 %}
                            <div class=" col ">
                                <a class="btn btn-secondary" href="{% url 'cancelar_fatura' faturas.id %}"
                                   onclick="return confirm('Tem a certeza que deseja eliminar?')">Cancelar Fatura</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!--{% url 'fazer_reclamacao_especifica' id %}-->