{% extends "base.html" %}

{% load static %}

{% block title %}
    Fazer Reclamação
{% endblock %}

{% block main %}
    <div class="container my-4">
        <div class="row rounded bg-light pt-3">
            <div class="col">
                <div class="jumbotron border p-3 mb-3">
                    <h1 class="text-center">Reclamação da Fatura</h1>
                    <hr>
                    <div class="container my-4" style="text-align:center">
                        <form id="fs-frm" name="complaint-form" accept-charset="utf-8" action="" method="POST">
                            {% csrf_token %}

                            {{ form.as_p }}

                            <button type="submit" class="btn btn-secondary">Confirmar Reclamação</button>
                        </form>
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}