{% extends "baseContainer.html" %}

{% load static %}

    {% block title %}
        Emissão do Recibo
    {% endblock %}

    {% block containerTitle %}
       Emitir Recibo
    {% endblock %}

    {% block containerContent %}
      <h3>
          Quer Confirmar a Emissão deste Recibo? 
      </h3>
      <div class="row">
          <div class="col-4">
                    <!-- Botão de Criar -->
        <div class="d-flex justify-content-center">
          <a class="btn btn-secondary" href="#">Sim</a>
      </div>
      </div>
      <div class="col-9">      
            <!-- Botão de Criar -->
            <div class="d-flex justify-content-center">
                <a class="btn btn-secondary" href="#">Não</a>
            </div>
        </div>
    </div>
        
    {% endblock %}