{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block title %}
    Remove Administrator
{% endblock %}

{% block main %}

    <div class="container">
        <h1 class="mt-5">Remove Administrator</h1>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to <b>remove Administrator role of "{{ object.user.get_full_name }}"</b>?</p>
            <p><b>His role will be changed to client!</b></p>
            <a type="button" href="{% url 'administrators' %}" class="btn btn-outline-dark mt-2">Back</a>
            <button type="submit" class="btn btn-danger mt-2">Remove Role</button>
        </form>
    </div>

{% endblock main %}