{% extends 'main/account_settings.html' %}
{% load group_tags %}
{% load django_tables2 %}
{% load crispy_forms_filters %}

{% block account_section %}

    <div class="container">
        {% if filter %}
            <form method="get" class="form form-inline">
                <div class="row">
                    <div class="col-auto">
                        {{ filter.form.registration | as_crispy_field }}
                    </div>
                    <div class="col-auto">
                        {{ filter.form.foreign | as_crispy_field }}
                    </div>
                    <div class="col-auto">
                        {{ filter.form.brand | as_crispy_field }}
                    </div>
                    <div class="col-auto">
                        {{ filter.form.model | as_crispy_field }}
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success mt-4">Filter</button>
                    </div>
                </div>
            </form>
        {% endif %}
        {% render_table table %}
        <a type="button" href="{% url 'add_car' request.user.id %}" class="btn btn-success mt-2">Add Car</a>
    </div>

{% endblock account_section %}
