{% load crispy_forms_filters %}


<!--suppress CssUnusedSymbol -->
<style>
    .hidden {
        display: none;
    }

    .form-check {
        display: none;
    }
</style>

<div class="row justify-content-start">
    <div class="col-auto">
        {{ deadline.start_date | as_crispy_field }}
    </div>
    <div class="col-auto">
        {{ deadline.end_date | as_crispy_field }}
    </div>
</div>

<div class="row mt-3">
    <div id="price-list">
        {% for form in formset %}
            <div id="form-{{ forloop.counter0 }}" class='row mb-4 price-form {% if form.DELETE.value == True %}hidden{% endif %}'>
                {{ form | crispy }}
                <div class="col-auto mt-3">
                    <div type="button" id="deleteButton-{{ forloop.counter0 }}-"
                         onClick="delete_click({{ forloop.counter0 }})"
                         class="btn btn-danger mt-2">Delete
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ formset.management_form }}
    <div id="empty-form" class="hidden">{{ formset.empty_form | crispy }}</div>
</div>
<button type="button" class="btn btn-success mt-2" id="addButton">Add Price Type</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--suppress JSUnusedLocalSymbols -->
<script>

    tomorrow = new Date();
    tomorrow.setDate(tomorrow.getDate() + 1)
    dd = tomorrow.getDate();
    mm = tomorrow.getMonth() + 1; //January is 0 so need to add 1 to make it 1!
    yyyy = tomorrow.getFullYear();
    if (dd < 10)
        dd = '0' + dd
    if (mm < 10)
        mm = '0' + mm

    tomorrow = yyyy + '-' + mm + '-' + dd;
    document.getElementById("deadline_start_date").setAttribute("min", tomorrow);


    start = document.getElementById('deadline_start_date')
    end = document.getElementById('deadline_end_date')

    start.addEventListener('change', () => {
        console.log(new Date(start.value))
        let tomorrow = new Date(start.value)
        tomorrow.setDate(tomorrow.getDate() + 1)
        let dd = tomorrow.getDate();
        let mm = tomorrow.getMonth() + 1; //January is 0 so need to add 1 to make it 1!
        let yyyy = tomorrow.getFullYear();
        if (dd < 10)
            dd = '0' + dd
        if (mm < 10)
            mm = '0' + mm

        tomorrow = yyyy + '-' + mm + '-' + dd;
        console.log(tomorrow)
        end.min = tomorrow;
        if (end.value <= start.value) end.value = tomorrow;
        document.getElementById('sub').disabled = start.value === "";
    });

    function delete_click(clicked_id) {
        document.getElementById(`id_form-${clicked_id}-DELETE`).checked = true;
        const copyForm = document.getElementById(`form-${clicked_id}`)
        copyForm.setAttribute('class', 'row price-form hidden')
    }

    window.addEventListener('load', () => {


        document.getElementById('empty-form').innerHTML += '' +
            '<div class="col-auto mt-3"> ' +
            '<div type="button" id="deleteButton-__prefix__-" onClick="delete_click(__prefix__)" class="btn btn-danger mt-2">Delete</div>' +
            '</div>';

        const boxes = document.querySelectorAll('.form-group');
        for (const box of boxes)
            box.classList.add('col-auto');
        const addButton = document.getElementById('addButton')

        const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')

        function add_spot_form() {
            const currentForms = document.getElementsByClassName('row price-form')
            const formCount = currentForms.length
            const copyForm = document.getElementById('price-list')
            const emptyForm = document.getElementById('empty-form').cloneNode(true)
            emptyForm.setAttribute('class', 'row mb-4 price-form')
            emptyForm.setAttribute('id', `form-${formCount}`)
            const regex = new RegExp('__prefix__', 'g')
            emptyForm.innerHTML = emptyForm.innerHTML.replace(regex, formCount)
            copyForm.append(emptyForm)
            totalNewForms.setAttribute('value', (formCount + 1).toString())
            return formCount;
        }

        addButton.addEventListener("click", add_spot_form)
    })

</script>