{% extends "base.html" %}

{% load static %}

{% block title %}
    View Contratos {{ contrato.userid }}
{% endblock %}

{% block main %}

    <div class="container my-4">
        <div class="row rounded bg-light pt-3">
            <div class="col">
                <div class="jumbotron border p-3 mb-3">
                    <h1 class="text-center">Contratos </h1>
                    <hr>
                    <div class="p-3 mb-2 bg-light text-dark">
                        <div class="row">
                            <div class="col">
                                <p><b>User: </b>{{ contrato.userid.user.get_full_name }}</p>
                            </div>
                            <div class="col">
                                <p><b>Modalidade de Pagamento: </b>{{ contrato.modalidadepagamentoid.nome }}</p>
                            </div>
                            <div class="col">
                                <p><b>Data validade: </b>{{ contrato.datavalidade.date }}</p>
                            </div>
                            <div class="col">
                                <p><b>Valor: </b>{{ contrato.valorcontrato }}</p>
                            </div>
                            <div class="col">
                                <p><b>Data de inicio: </b>{{ contrato.datainicio.date }}</p>
                            </div>
                            <div class="col">
                                <p><b>Updated: </b>{{ reserva.editadoem }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="row">

                        <!-- Botão de Editar -->
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-secondary">Editar Contrato</a>
                            </div>
                        </div>

                        <!-- Botão de Apagar -->
                        <div class="col">
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-secondary" href="{% url 'cancelarContrato' contrato.id %}">Cancelar
                                    Contrato</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}